{% extends "base.html" %}
{% block title %}Администрирование{% endblock title %}
{% block name_page %}<i class="fal fa-tools"></i>&nbsp;Администрирование{% endblock name_page %}
{% block content %}

            <div class="row d-flex justify-content-center ">
                <div class="col-4 border">
                    <p class="my-3"><u>Добавление пользователей</u></p>
                    <input type="text">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Добавить</button>
                        <button type="button" class="btn btn-secondary">Изменить</button>
                        <button type="button" class="btn btn-secondary">Удалить</button>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Логин</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Иван</td>
                            <td>Иванов</td>
                            <td>Ivan</td>
                        </tr>
                        <tr>
                            <td>Иван</td>
                            <td>Иванов</td>
                            <td>Ivan</td>
                        </tr>
                        <tr>
                            <td>Иван</td>
                            <td>Иванов</td>
                            <td>Ivan</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4 border">
                    <p class="my-3"><u>Ведение классификаторов</u></p>

                    <label for="inputState">Округ</label>
                    <select id="inputState" class="form-control">
                        <option selected>Приволжский...</option>
                        <option>Дальновосточный ...</option>
                        <option>...</option>
                    </select>
                    <label for="inputDictrict">Субъект РФ</label>
                    <select id="inputDictrict" class="form-control">
                        <option selected>Приволжский...</option>
                        <option>Дальновосточный ...</option>
                        <option>...</option>
                    </select>
                    <div class="my-3 btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Добавить</button>
                        <button type="button" class="btn btn-secondary">Изменить</button>
                        <button type="button" class="btn btn-secondary">Удалить</button>
                    </div>

                </div>
                <div class="col-4 border">
                    <p class="my-3"><u>Логирование пользователей</u></p>
                    <li>1: добавлено мероприятие</li>
                    <li>2: изменено мероприятие</li>
                    <li>3: изменено мероприятие</li>
                    <li>4: изменено мероприятие</li>
                    <li>5: изменено мероприятие</li>
                    <li>6: изменено мероприятие</li>
                    <li>7: добавлено мероприятие</li>
                    <li>8: добавлено мероприятие</li>
                    <li>9: добавлено мероприятие</li>

                </div>

            </div>
       {% endblock content %}