<div class="modal-header d-flex align-items-center">
    <h4>Информация о событии</h4>
    <div class="status_{{ event.status.id }}">{{ event.status }}</div>
</div>

<div class="modal-body" id="id_modal_body">
    <h6>
        Регистрационный номер:
        <small class="text-muted">{{ event.reg_number }}</small>
    </h6>
    <h6>
        Тип сообщения:
        <small class="text-muted">{{ event.type_message }}</small>
    </h6>
    <h6>
        Дата включения в доклад:
        <small class="text-muted">{{ event.date_vklyuch_doklad|default_if_none:"" }}</small>
    </h6>
    <h6>
        Дата регистрации:
        <small class="text-muted">{{ event.date_registratsii }}</small>
    </h6>
    <h6>
        Дата фактического занесения в базу:
        <small class="text-muted">{{ event.date_creation }}</small>
    </h6>
    <h6>
        Дата изменения:
        <small class="text-muted">{{ event.date_change }}</small>
    </h6>
    <div class="border-top border-bottom">
        <u>Документ:</u>
        <h6>
            Наименование документа:
            <small class="text-muted">{{ event.titul.name }}</small>
        </h6>
        <h6>
            Номер входящего документа:
            <small class="text-muted">{{ event.titul.nomer_vhodyaschego }}</small>
        </h6>
        <h6>
            Дата входящего документа:
            <small class="text-muted">{{ event.titul.date_vhodyaschego|default_if_none:"" }}</small>
        </h6>
        <h6>
            Откуда поступил документ:
            <small class="text-muted">{{ event.titul.otkuda }}</small>
        </h6>
        <h6>
            Исходящий номер документа:
            <small class="text-muted">{{ event.titul.ishodyaschii_nomer }}</small>
        </h6>
        <h6>
            Дата исходящего документа
            <small class="text-muted">{{ event.titul.date_ishodyaschego|default_if_none:"" }}</small>
        </h6>
    </div>
    <div class="border-top border-bottom">
        {% for org in event.org.all %}
            <u>Организация</u>
            <h6>
                Наименование организации:
                <small class="text-muted">{{org.name }}</small>
            </h6>
            <h6>
                ИНН (ОГРН):
                <small class="text-muted">{{ org.inn_ogrn }}</small>
            </h6>
            <h6>
                Адрес организации (АТЕ):
                <small class="text-muted">{{ org.adres_organiz_ate }}</small>
            </h6>
            <h6>
                Адрес организации:
                <small class="text-muted">{{ org.adres_organiz }}</small>
            </h6>
            <h6>
                Иная информация:
                <small class="text-muted">{{ org.inaya_informaciya }}</small>
            </h6>
        {% endfor %}
    </div>
    <h6>
        Суть информации:
        <small class="text-muted">{{ event.sut_info }}</small>
    </h6>
    <h6>
        Классифицирующий признак (по статье УК РФ):
        <small class="text-muted">{{ event.klassif_priznak_UK.name }}</small>
    </h6>
    <h6>
        Классифицирующий признак (угроза):
        <small class="text-muted">{{ event.klassif_priznak_ugroza.name }}</small>
    </h6>
    <h6>
        Классифицирующий признак (текст):
        <small class="text-muted">{{ event.klassif_priznak_text }}</small>
    </h6>
    <h6>
        Резолюция руководства ВНГ, ГУСБ:
        <small class="text-muted">{{ event.rezolyutsiya_rukovodstva }}</small>
    </h6>
    <div class="border-top border-bottom">
        <u>Сроки</u>
        <h6>
            Дата начало:
            <small class="text-muted">{{ event.date_start }}</small>
        </h6>
        <h6>
            Дата окончания:
            <small class="text-muted">{{ event.date_finish }}</small>
        </h6>
    </div>
    <h6>
        Исполнитель (орган):
        <small class="text-muted">{{ event.ispolnitel_organ }}</small>
    </h6>
    <h6>
        Исполнитель (сотрудник):
        <small class="text-muted">{{ event.ispolnitel_sotrudnik }}</small>
    </h6>
    <div class="border-top border-bottom">
        {% for face in  event.identified_face.all %}
            <u>Установлено лицо:</u>
            <h6>
                Фамилия:
                <small class="text-muted">{{face.familiya }}</small>
            </h6>
            <h6>
                Имя:
                <small class="text-muted">{{ face.imya }}</small>
            </h6>
            <h6>
                Отчество:
                <small class="text-muted">{{ face.otchestvo }}</small>
            </h6>
            <h6>
                Дата рождения:
                <small class="text-muted">{{ face.date_rojdeniya }}</small>
            </h6>
            <h6>
                Место рождения (АТЕ):
                <small class="text-muted">{{ face.mesto_rojdeniya_ATE }}</small>
            </h6>
            <h6>
                Место рождения (район):
                <small class="text-muted">{{ face.mesto_rojdeniya_raion }}</small>
            </h6>
            <h6>
                Место рождения (н.п.):
                <small class="text-muted">{{ face.mesto_rojdeniya_np }}</small>
            </h6>
            <h6>
                Воинское (специальное) звание:
                <small class="text-muted">{{face.zvanie }}</small>
            </h6>
            <h6>
                Дополнительная информация:
                <small class="text-muted">{{ face.dopolnitelnaya_info }}</small>
            </h6>
        {% endfor %}
    </div>
    <h6>
        Вид проверки:
        <small class="text-muted">{{ event.type_proverki.name }}</small>
    </h6>
    <h6>
        Результат проверки:
        <small class="text-muted">{{ event.rezult_proverki.name }}</small>
    </h6>
    <h6>
        Принятые меры:
        <small class="text-muted">{{ event.prinyatie_meri }}</small>
    </h6>
    <h6>
        Ответ заявителю:
        <small class="text-muted">{{ event.otvet_zayavitelyu }}</small>
    </h6>
    <h6>
        Исполнение резолюции руководства ВНГ, ГУСБ:
        <small class="text-muted">{{ event.ispolnenie_rezolyucii }}</small>
    </h6>
    <h6>
        Дата ответа:
        <small class="text-muted">{{ event.date_otveta|default_if_none:"" }}</small>
    </h6>
    <h6>
        Исходящий номер документа:
        <small class="text-muted">{{ event.ishodyaschii_nomer }}</small>
    </h6>
    <div class="border-top border-bottom">
        <u>Оперативная обстановка</u>
        <h6>
            Дата:
            <small class="text-muted">{{ event.operativnaya_obstanovka.date|default_if_none:"" }}</small>
        </h6>
        <h6>
            Классифицирующий признак (угроза):
            <small class="text-muted">{{ event.operativnaya_obstanovka.klassif_priznak_ugroza }}</small>
        </h6>
        <h6>
            Классифицирующий признак (текст):
            <small class="text-muted">{{ event.operativnaya_obstanovka.klassif_priznak_text }}</small>
        </h6>
        <h6>
            Суть информации:
            <small class="text-muted">{{ event.operativnaya_obstanovka.sut_info }}</small>
        </h6>
        <h6>
            Принятые меры:
            <small class="text-muted">{{ event.operativnaya_obstanovka.prinyatie_meri }}</small>
        </h6>
    </div>
    <h6>
        Подразделение:
        <small class="text-muted">{{ event.subdivision.name }}</small>
    </h6>
    <h6>
        Оператор создавший информацию:
        <small class="text-muted">{{ event.user.last_name }}</small>
    </h6>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>