{% extends "base.html" %}
{% block title %}Событие{% endblock title %}
{% block name_page %}<i class="fas fa-file-invoice"></i>&nbsp;Событие{% endblock name_page %}
{% block content %}
	<div class="row d-flex justify-content-center ">
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-secondary" form="id_event_form"><i class="fas fa-plus"></i>&nbsp;Добавить
				событие
			</button>
		</div>
	</div>
	<div class="row d-flex justify-content-center my-4">
		<div class="container-fluid" style="height:700px;overflow-y:scroll;">
			<form method="post" action="{% url "event" %}" id="id_event_form">{% csrf_token %}
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.type_message.label_tag }} {{ event_form.type_message }}
						{% if event_form.type_message.errors %}
							{% for error in event_form.type_message.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.status.label_tag }} {{ event_form.status }}
						{% if event_form.status.errors %}
							{% for error in event_form.status.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.titul.label_tag }}
						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-titul">
							<i class="fas fa-plus"></i> </a> {{ event_form.titul }}
						{% if event_form.titul.errors %}
							{% for error in event_form.titul.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.organizatsiya.label_tag }}
						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-organizatsiya">
							<i class="fas fa-plus"></i> </a> {{ event_form.organizatsiya }}
						{% if event_form.organizatsiya.errors %}
							{% for error in event_form.organizatsiya.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.date_registratsii.label_tag }} {{ event_form.date_registratsii }}
						{% if event_form.date_registratsii.errors %}
							{% for error in event_form.date_registratsii.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.reg_number.label_tag }} {{ event_form.reg_number }}
						{% if event_form.reg_number.errors %}
							{% for error in event_form.reg_number.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.sut_info.label_tag }} {{ event_form.sut_info }}
						{% if event_form.sut_info.errors %}
							{% for error in event_form.sut_info.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.klassif_priznak_UK.label_tag }}
						{#						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-classifierWUD">#}
						{#							<i class="fas fa-plus"></i> </a>#} {{ event_form.klassif_priznak_UK }}

						{% if event_form.klassif_priznak_UK.errors %}
							{% for error in event_form.klassif_priznak_UK.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-12">
						{{ event_form.klassif_priznak_ugroza.label_tag }}
						{#						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-classifierDanger">#}
						{#							<i class="fas fa-plus"></i> </a> #} {{ event_form.klassif_priznak_ugroza }}
						{% if event_form.klassif_priznak_ugroza.errors %}
							{% for error in event_form.klassif_priznak_ugroza.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.klassif_priznak_text.label_tag }} {{ event_form.klassif_priznak_text }}
						{% if event_form.klassif_priznak_text.errors %}
							{% for error in event_form.klassif_priznak_text.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.rezolyutsiya_rukovodstva.label_tag }} {{ event_form.rezolyutsiya_rukovodstva }}
						{% if event_form.rezolyutsiya_rukovodstva.errors %}
							{% for error in event_form.rezolyutsiya_rukovodstva.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						{{ event_form.date_start.label_tag }} {{ event_form.date_start }}
						{% if event_form.date_start.errors %}
							{% for error in event_form.date_start.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="col-md-4 d-flex justify-content-center">
						<label>Срок исполнения&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i></label>
					</div>
					<div class="form-group col-md-4">
						{{ event_form.date_finish.label_tag }} {{ event_form.date_finish }}
						{% if event_form.date_finish.errors %}
							{% for error in event_form.date_finish.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.ispolnitel_organ.label_tag }} {{ event_form.ispolnitel_organ }}
						{% if event_form.ispolnitel_organ.errors %}
							{% for error in event_form.ispolnitel_organ.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.ispolnitel_sotrudnik.label_tag }} {{ event_form.ispolnitel_sotrudnik }}
						{% if event_form.ispolnitel_sotrudnik.errors %}
							{% for error in event_form.ispolnitel_sotrudnik.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.info_otrabotki_materiala.label_tag }} {{ event_form.info_otrabotki_materiala }}
						{% if event_form.info_otrabotki_materiala.errors %}
							{% for error in event_form.info_otrabotki_materiala.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.identified_face.label_tag }}
						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-face"><i class="fas fa-plus"></i></a> {{ event_form.identified_face }}
						{% if event_form.identified_face.errors %}
							{% for error in event_form.identified_face.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}

					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.type_proverki.label_tag }}
						{#						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-typecheck"><i class="fas fa-plus"></i></a> #} {{ event_form.type_proverki }}
						{% if event_form.type_proverki.errors %}
							{% for error in event_form.type_proverki.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.rezult_proverki.label_tag }}
						{#						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-resultcheck"><i class="fas fa-plus"></i></a>#} {{ event_form.rezult_proverki }}
						{% if event_form.rezult_proverki.errors %}
							{% for error in event_form.rezult_proverki.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.prinyatie_meri.label_tag }} {{ event_form.prinyatie_meri }}
						{% if event_form.prinyatie_meri.errors %}
							{% for error in event_form.prinyatie_meri.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.otvet_zayavitelyu.label_tag }} {{ event_form.otvet_zayavitelyu }}
						{% if event_form.otvet_zayavitelyu.errors %}
							{% for error in event_form.otvet_zayavitelyu.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.ispolnenie_rezolyucii.label_tag }} {{ event_form.ispolnenie_rezolyucii }}
						{% if event_form.ispolnenie_rezolyucii.errors %}
							{% for error in event_form.ispolnenie_rezolyucii.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ event_form.data_otveta.label_tag }} {{ event_form.data_otveta }}
						{% if event_form.data_otveta.errors %}
							{% for error in event_form.data_otveta.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ event_form.ishodyaschii_nomer.label_tag }} {{ event_form.ishodyaschii_nomer }}
						{% if event_form.ishodyaschii_nomer.errors %}
							{% for error in event_form.ishodyaschii_nomer.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						{{ event_form.operativnaya_obstanovka.label_tag }}
						<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-operationEnv"><i class="fas fa-plus"></i>
						</a>{{ event_form.operativnaya_obstanovka }}
						{% if event_form.operativnaya_obstanovka.errors %}
							{% for error in event_form.operativnaya_obstanovka.errors %}
								<div class="invalid-feedback d-block">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>

			</form>
		</div>
	</div>

	<!-- modal-operationEnv -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-operationEnv" role="dialog" aria-labelledby="myLargeModalLabel" style="overflow: hidden auto;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить оперативную обстановку</em></p>
				</div>
				<div class="modal-body">
					<form id="operationEnv">
						<div class="form-group col-md-6">
							<label for="inputDateOperationalEnv">Дата</label>
							<input type="date" class="form-control" id="inputDateOperationalEnv">
						</div>
						<div class="form-group col-md-12">
							<label for="inputClassifierDangerOperationalEnv">Классифицирующий признак (угроза)</label>&nbsp;&nbsp;
							<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-classifierDanger">
								<i class="fas fa-plus"></i> </a>
							<select class="custom-select mr-sm-2" id="inputClassifierDangerOperationalEnv">
								<option selected></option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
								<option>Свой признак</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="inputClassifierTextOperationalEnv">Классифицирующий признак (текст)</label>
							<input type="text" class="form-control" id="inputClassifierTextOperationalEnv">
						</div>
						<div class="form-group col-md-12">
							<label for="inputSutInformationOperationalEnv">Суть информации</label>
							<textarea class="form-control" id="inputSutInformationOperationalEnv" maxlength="100000"></textarea>
						</div>
						<div class="form-group col-md-12">
							<label for="inputPrinyatMerOperationalEnv">Принятые меры</label>
							<textarea class="form-control" id="inputPrinyatMerOperationalEnv" maxlength="100000"></textarea>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary" form="operationEnv">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-organization -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-organizatsiya" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить организацию</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameOrganization">Наименование организации</label>
							<input type="text" class="form-control" id="inputNameOrganization">
						</div>
						<div class="form-group col-md-12">
							<label for="inputINNOrganization">ИНН (ОГРН)</label>
							<input type="text" class="form-control" id="inputINNOrganization">
						</div>
						<div class="form-group col-md-6">
							<label for="inputAdresAte">Адрес организации АТЕ</label>&nbsp;&nbsp;
							<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-adres-ate">
								<i class="fas fa-plus"></i> </a>
							<select class="custom-select mr-sm-2" id="inputAdresAte">
								<option selected>Наименование 1</option>
								<option>Наименование 2</option>
								<option>Наименование 3</option>
								<option>Наименование 4</option>
								<option>Наименование 5</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="inputAdresrOganization">Адрес организации</label>
							<input type="text" class="form-control" id="inputAdresrOganization">
						</div>
						<div class="form-group col-md-12">
							<label for="inputOtherOganization">Иная информация</label>
							<input type="text" class="form-control" id="inputOtherOganization">
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-classifierWUD -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-classifierWUD" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить классифицирующий признак (по статье УК)</em>
					</p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameClassifierWUD">Наименование признака</label>
							<input type="text" class="form-control" id="inputNameClassifierWUD">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-classifierDanger -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-classifierDanger" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить классифицирующий признак (угроза)</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameClassifierDanger">Наименование признака</label>
							<input type="text" class="form-control" id="inputNameClassifierDanger">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-titul -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-titul" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить титул документа</em></p>
				</div>
				<div class="modal-body">
					<form method="post" action="{% url "titul" %}" id="id_form_titul">{% csrf_token %}
						{% for field in titul_form %}
							<div class="form-group">
								{{ field.label_tag }}
								<div>{{ field }}</div>
								<div class="error">{{ field.errors }}</div>
							</div>
						{% endfor %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
					<button type="submit" class="btn btn-primary" form="id_form_titul">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-face -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-face" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="overflow: hidden auto;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить лицо</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputSurnameFace">Фамилия</label>
							<input type="text" class="form-control" id="inputSurnameFace">
						</div>
						<div class="form-group col-md-12">
							<label for="inputFirstNameFace">Имя</label>
							<input type="text" class="form-control" id="inputFirstNameFace">
						</div>
						<div class="form-group col-md-12">
							<label for="inputFastNameFace">Отчество</label>
							<input type="text" class="form-control" id="inputFastNameFace">
						</div>
						<div class="form-group col-md-12">
							<label for="inputBirthdayEvent">Дата рождения</label>
							<input type="date" class="form-control" id="inputBirthdayEvent">
						</div>
						<div class="form-group col-md-12">
							<label for="inputAdresAteBirthFace">Место рождения (АТЕ)</label>&nbsp;&nbsp;
							<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-adres-ate">
								<i class="fas fa-plus"></i> </a>
							<select class="custom-select mr-sm-2" id="inputAdresAteBirthFace">
								<option selected>Наименование 1</option>
								<option>Наименование 2</option>
								<option>Наименование 3</option>
								<option>Наименование 4</option>
								<option>Наименование 5</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="inputMestoBirthRaionFace">Место рождения (район)</label>
							<input type="text" class="form-control" id="inputMestoBirthRaionFace">
						</div>
						<div class="form-group col-md-12">
							<label for="inputMestoBirthNPFace">Место рождения (н.п.)</label>
							<input type="text" class="form-control" id="inputMestoBirthNPFace">
						</div>
						<div class="form-group col-md-12">
							<label for="inputRankFace">Воинское (специальное) звание</label>&nbsp;&nbsp;
							<a href="#" style="color: #0a0a0a" data-toggle="modal" data-target="#modal-rank">
								<i class="fas fa-plus"></i> </a>
							<select class="custom-select mr-sm-2" id="inputRankFace">
								<option selected></option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
								<option>Звание</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="inputDopolnitInfoFace">Дополнительная информация</label>
							<textarea class="form-control" id="inputDopolnitInfoFace" maxlength="100000"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-typecheck -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-typecheck" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить вид проверки</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameTypeCheck">Наименование проверки</label>
							<input type="text" class="form-control" id="inputNameTypeCheck">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-resultcheck -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-resultcheck" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить результат проверки</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameResultCheck">Наименование проверки</label>
							<input type="text" class="form-control" id="inputNameResultCheck">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-rank -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-rank" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить воинское (специальное) звание</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputRank">Наименование</label>
							<input type="text" class="form-control" id="inputRank">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-adres-ate -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modal-adres-ate" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<p style="color: #4a0404;font-size: 22px"><em>Добавить адрес АТЕ</em></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group col-md-12">
							<label for="inputNameAdresAte">Наименование адреса</label>
							<input type="text" class="form-control" id="inputNameAdresAte">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<!--Текущее время-->
	{##}
	{#	<script>#}
	{#        date = new Date();#}
	{#        document.getElementById("inputDateCreateDocument").valueAsDate = date;#}
	{#        // Todo: Сделать общую функцию#}
	{#        document.getElementById("inputDateRegistartionEvent").valueAsDate = date;#}
	{#	</script>#}
{% endblock content %}
{% block js %}
	<script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                noneResultsText: 'Результат не найден!!!'
            });
        });
	</script>

{% endblock js %}