{% extends "base.html" %}
{% block title %}Журнал{% endblock title %}
{% block name_page %}<i class="far fa-book"></i>&nbsp;Журнал{% endblock name_page %}
{% block content %}
            <div class="row d-flex justify-content-center border border-dark " style="background-color: #8d8587; height: 315px">
                <div class="col-3"></div>
                <div class="col-6 my-3">
                    <input type="search" placeholder="Сложный запрос по всем полям события" class="form-control" style="border-radius: 5px">
                </div>
                <div class="col-3"></div>
                <div class="col-12">
                    <!--Простой запрос-->
                    <p class="text-uppercase">Поиск по критериям</p>

                    <div class="row">
                        <div class="col-4">
                            <select class="form-control">
                                <option selected>Лицо...</option>
                                <option>Лицо</option>
                                <option>Лицо</option>
                                <option>Лицо</option>
                                <option>Лицо</option>
                                <option>...</option>
                            </select>
                            <small class="form-text">Все события лица</small>
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control">
                            <small class="form-text">Дата регистрациии события</small>
                        </div>
                        <div class="col-4">
                            <select class="form-control">
                                <option selected>Приволжский...</option>
                                <option>Дальновосточный ...</option>
                                <option>...</option>
                            </select>
                            <small class="form-text ">Округ создания события</small>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-4">
                            <select class="form-control">
                                <option selected>Вид проверки</option>
                                <option>Вид проверки</option>
                                <option>Вид проверки</option>
                                <option>Вид проверки</option>
                                <option>...</option>
                            </select>
                            <small class="form-text">Вид проверки</small>
                        </div>
                        <div class="col-4">
                            <select class="form-control">
                                <option selected>Тип сообщения</option>
                                <option>Тип сообщения</option>
                                <option>Тип сообщения</option>
                                <option>Тип сообщения</option>
                                <option>...</option>
                            </select>
                            <small class="form-text">Тип сообщения события</small>
                        </div>
                        <div class="col-4">
                            <select class="form-control">
                                <option selected>Классифицирующий признак (угроза)</option>
                                <option>Классифицирующий признак (угроза)</option>
                                <option>Классифицирующий признак (угроза)</option>
                                <option>Классифицирующий признак (угроза)</option>
                                <option>Классифицирующий признак (угроза)</option>
                                <option>...</option>
                            </select>
                            <small class="form-text">Классифицирующий признак (угроза)</small>
                        </div>

                    </div>
                    <div class="row my-3 d-flex justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-danger btn-block">Найти</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center my-4 ">
                <table class="table table-hover table-sm" id="catalog_table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Статус</th>
                        <th scope="col">Тип сообщения</th>
                        <th scope="col">Организация</th>
                        <th scope="col">Дата регистрации</th>
                        <th scope="col">Регистрационный номер</th>
                        <th scope="col">Классифицирующий признак (по статье УК)</th>
                        <th scope="col">Классифицирующий признак (угроза)</th>
                        <th scope="col">Лицо</th>
                        <th scope="col">Исполнитель (сотрудник)</th>
                        <th scope="col">Исполнитель (орган)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">в работе</th>
                        <td data-toggle="modal" data-target="#modal-event">Тип сообщения</td>
                        <td data-toggle="modal" data-target="#modal-event">Организация</td>
                        <td data-toggle="modal" data-target="#modal-event">18.12.2018</td>
                        <td data-toggle="modal" data-target="#modal-event">XTC40837/23423</td>
                        <td data-toggle="modal" data-target="#modal-event"></td>
                        <td data-toggle="modal" data-target="#modal-event">Превышение должностных полномо . . .</td>
                        <td data-toggle="modal" data-target="#modal-event">Петров Петр Петрович</td>
                        <td data-toggle="modal" data-target="#modal-event">Иванов Иван Иванович</td>
                        <td data-toggle="modal" data-target="#modal-event">ГУСБ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">завершен</th>
                        <td  data-toggle="modal" data-target="#modal-event">Тип сообщения</td>
                        <td data-toggle="modal" data-target="#modal-event">Организация</td>
                        <td data-toggle="modal" data-target="#modal-event">18.12.2018</td>
                        <td data-toggle="modal" data-target="#modal-event">XTC40837/21111</td>
                        <td data-toggle="modal" data-target="#modal-event">ст. 285 "Злоупотребление полномочиями . . ."</td>
                        <td data-toggle="modal" data-target="#modal-event">Превышение должностных полномо . . .</td>
                        <td data-toggle="modal" data-target="#modal-event">Петров Петр Петрович</td>
                        <td data-toggle="modal" data-target="#modal-event">Иванов Иван Иванович</td>
                        <td data-toggle="modal" data-target="#modal-event">ГУСБ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">завершен</th>
                        <td  data-toggle="modal" data-target="#modal-event">Тип сообщения</td>
                        <td data-toggle="modal" data-target="#modal-event">Организация</td>
                        <td data-toggle="modal" data-target="#modal-event">18.12.2018</td>
                        <td data-toggle="modal" data-target="#modal-event">XTC40837/21111</td>
                        <td data-toggle="modal" data-target="#modal-event">ст. 285 "Злоупотребление полномочиями . . ."</td>
                        <td data-toggle="modal" data-target="#modal-event">Превышение должностных полномо . . .</td>
                        <td data-toggle="modal" data-target="#modal-event">Петров Петр Петрович</td>
                        <td data-toggle="modal" data-target="#modal-event">Иванов Иван Иванович</td>
                        <td data-toggle="modal" data-target="#modal-event">ГУСБ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">завершен</th>
                        <td  data-toggle="modal" data-target="#modal-event">Тип сообщения</td>
                        <td data-toggle="modal" data-target="#modal-event">Организация</td>
                        <td data-toggle="modal" data-target="#modal-event">18.12.2018</td>
                        <td data-toggle="modal" data-target="#modal-event">XTC40837/21111</td>
                        <td data-toggle="modal" data-target="#modal-event">ст. 285 "Злоупотребление полномочиями . . ."</td>
                        <td data-toggle="modal" data-target="#modal-event">Превышение должностных полномо . . .</td>
                        <td data-toggle="modal" data-target="#modal-event">Петров Петр Петрович</td>
                        <td data-toggle="modal" data-target="#modal-event">Иванов Иван Иванович</td>
                        <td data-toggle="modal" data-target="#modal-event">ГУСБ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">в работе</th>
                        <td data-toggle="modal" data-target="#modal-event">Тип сообщения</td>
                        <td data-toggle="modal" data-target="#modal-event">Организация</td>
                        <td data-toggle="modal" data-target="#modal-event">18.12.2018</td>
                        <td data-toggle="modal" data-target="#modal-event">XTC40837/23423</td>
                        <td data-toggle="modal" data-target="#modal-event"></td>
                        <td data-toggle="modal" data-target="#modal-event">Превышение должностных полномо . . .</td>
                        <td data-toggle="modal" data-target="#modal-event">Петров Петр Петрович</td>
                        <td data-toggle="modal" data-target="#modal-event">Иванов Иван Иванович</td>
                        <td data-toggle="modal" data-target="#modal-event">ГУСБ</td>
                    </tr>
                     <tr>
                        <td><input type="checkbox"></td>
                        <th scope="row">......</th>
                        <td data-toggle="modal" data-target="#modal-event">......</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>
                        <td data-toggle="modal" data-target="#modal-event">........</td>

                    </tr>
                    </tbody>
                </table>
            </div>

             <div class="row d-flex justify-content-center border border-dark" style="background-color: #8d8587; height: 50px; margin-bottom: 50px">
                 <div class="btn-group" role="group" aria-label="Basic example">
                     <button type="button" class="btn btn-secondary">Скачать карточки событий</button>
                     <button type="button" class="btn btn-secondary">Отправить по электронной почте</button>

                 </div>
             </div>

<!-- modal-event -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-event" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p style="color: #4a0404;font-size: 22px"><em>Событие</em></p>
            </div>
            <div class="modal-body">
                <form id="event">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputItemPlan">Тип сообщения</label>
                                <input type="text" class="form-control" id="inputItemPlan" value="Тип1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDocument">Документ</label>
                                <input type="text" class="form-control" id="inputDocument" value="Документ">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputOrganization">Организация</label>
                                <input type="text" class="form-control" id="inputOrganization" value="Наименование организации">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDateRegistartionEvent">Дата регистрации&nbsp;
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </label>
                                <input type="date" class="form-control" id="inputDateRegistartionEvent" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputRegistrationNumberEvent">Регистрационный номер</label>
                                <input type="text" class="form-control" id="inputRegistrationNumberEvent" value="1231231/12312">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputTargetEvent">Суть информации</label>
                                <textarea class="form-control" id="inputTargetEvent" maxlength="100000"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputClassifierWUD">Классифицирующий признак (по статье УК РФ, заполняется только при наличии ВУД)</label>
                                <input type="text" class="form-control" id="inputClassifierWUD" value="21312312">
                            </div>
                           <div class="form-group col-md-6">
                                <label for="inputClassifierDanger">Классифицирующий признак (угроза)</label>&nbsp;&nbsp;
                               <input type="text" class="form-control" id="inputClassifierDanger" value="признак">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputClassifierTextEvent">Классифицирующий признак (текст)</label>
                                <input type="text" class="form-control" id="inputClassifierTextEvent" value="текст">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputResolutionEvent">Резолюция руководства ВНГ, ССБ</label>
                                <textarea class="form-control" id="inputResolutionEvent" maxlength="100000">Резолюция</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                             <div class="form-group col-md-4">
                                 <label for="inputDateStartEvent">Дата начало</label>
                                 <input type="date" class="form-control" id="inputDateStartEvent">
                             </div>
                             <div class="col-md-4 d-flex justify-content-center">
                                <label>Срок исполнения&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i></label>
                             </div>
                             <div class="form-group col-md-4">
                                 <label for="inputDateEndEvent">Дата окончание</label>
                                 <input type="date" class="form-control" id="inputDateEndEvent">
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPerformerOrganEvent">Исполнитель (орган)</label>
                                <input type="text" class="form-control" id="inputPerformerOrganEvent" value="Исполнитель">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPerformerSotrudnikEvent">Исполнитель (сотрудник)</label>
                                <input type="text" class="form-control" id="inputPerformerSotrudnikEvent" value="Исполнитель">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputInfoObrabotkiEvent">Информация полученная в ходе обработки материала</label>
                                <textarea class="form-control" id="inputInfoObrabotkiEvent" maxlength="100000">Информация полученная в ходе обработки материала</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputFaceEvent">В ходе проверки установлены выявлены (установлены лица)</label>
                                <input type="text" class="form-control" id="inputFaceEvent" value="Петров Петр Петрович">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTypeCheckEvent">Вид проверки</label>
                                <input type="text" class="form-control" id="inputTypeCheckEvent" value="Вид проверки">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputResultCheckEvent">Результат проверки</label>
                                <input type="text" class="form-control" id="inputResultCheckEvent" value="Результат проверки">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputPrinyatMerEvent">Принятые меры</label>
                                <textarea class="form-control" id="inputPrinyatMerEvent" maxlength="100000">Принятые меры</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputResponseEvent">Ответ заявителю</label>
                                <textarea class="form-control" id="inputResponseEvent" maxlength="100000">Ответ заявителю</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputIspolnenieResolutionEvent">Исполнение резолюции руководства ВНГ, ССБ</label>
                                <textarea class="form-control" id="inputIspolnenieResolutionEvent" maxlength="100000">Исполнение резолюции руководства ВНГ, ССБ</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDateResponseZajavitelEvent">Дата ответа заявителю&nbsp;
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </label>
                                <input type="date" class="form-control" id="inputDateResponseZajavitelEvent">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputIshNumberDocEvent">Исходящий номер документа</label>
                                <input type="text" class="form-control" id="inputIshNumberDocEvent" maxlength="50" value="234234234">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputOperationEnvEvent">Оперативная обстановка</label>
                                <input type="text" class="form-control" id="inputOperationEnvEvent" value="Оперативная обстановка">
                            </div>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
