{% extends "base.html" %}
{% load static %}
{% block title %}Оперативная обстановка{% endblock title %}
{% block name_page %}<i class="far fa-compass"></i>&nbsp;Оперативная обстановка{% endblock name_page %}
{% block breadcrumbs %}
	<li><a href={% url 'operationalenv' %}>Оперативные обстановки</a></li>
	<li><a class="current" href="#">Изменить оперативную обстановку</a></li>
{% endblock breadcrumbs %}
{% block content %}
	<div class="row d-flex justify-content-center my-4" style="height:700px;overflow-y:auto;">
		<div class="col-8">
			<form class="compact-form" method="post" action="{% url "change_operationalenv" %}" id="id_form_operationalenv">
				{% csrf_token %}
				<input hidden name="oper_obstanovka_id" value="{{ oper_obstanovka_id }}">
				{% for field in oper_obstanovka_form %}
					<div class="form-group">
						{{ field.label_tag }}
						<div>{{ field }}</div>
						<div class="error">{{ field.errors }}</div>
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-sm btn-secondary"><i class="far fa-save"></i>&nbsp;Сохранить</button>
			</form>
		</div>
	</div>
{% endblock content %}
