{% extends "base.html" %}
{% block title %}Титул{% endblock title %}
{% block name_page %}<i class="fas fa-hotel"></i>&nbsp;Организация{% endblock name_page %}
{% block content %}

	<div class="row d-flex justify-content-center my-4">
		<div class="container-fluid">
			<div class="row d-flex align-items-center">
				<div class="col-5">
					<form method="post" action="{% url "organizatsiya" %}" id="id_form_organizatsiya">{% csrf_token %}
						{% for field in organizatsiya_form %}
							<div class="form-group">
								{{ field.label_tag }}
								<div>{{ field }}</div>
								<div class="error">{{ field.errors }}</div>
							</div>
						{% endfor %}
						<button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i>&nbsp;Добавить
							организацию

						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}