<div class="modal-header">
    <h4>Изменить титул документа</h4>
</div>
<div class="modal-body">
    <form class="compact-form" method="post" id="id_form_titul" action="{% url "change_titul" %}">
        {% csrf_token %}
        <input hidden name="titul_id" value="{{ titul_id }}">
        {% for field in titul_form %}
            <div class="form-group">
                {{ field.label_tag }}
                <div>{{ field }}</div>
                <div class="error">{{ field.errors }}</div>
            </div>
        {% endfor %}
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-secondary" form="id_form_titul"><i class="far fa-save"></i>&nbsp;Сохранить</button>
    </div>
</div>


